.essence {
  @include flex;
  flex-direction: column;
  row-gap: 80px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 250px 0 115px; //фиксит баг с позиционированием линий
  &__flash {
    z-index: 10;
    color: white;
    padding: 25px;
    overflow: hidden;
    top: 0;
    position: absolute;
    width: calc(100% + 20px);
    display: flex;
    left: -10px;
    &_red {
      background: #ba0000;
      transform: rotate(-1.91deg);
    }
    &_black {
      background: black;
      transform: rotate(2.92deg);
    }
  }
  &__flash-text {
    @include font("Futura XBlkCnIt BT", italic, 900, 32px, 1em, white);
    letter-spacing: 1em;
  }
  &__title {
    position: relative;
    @include font("Futura Md BT", normal, 400, 64px, 100px, white);
    max-width: 570px;
    &:before {
      content: "";
      position: absolute;
      width: 287px;
      height: 55px;
      background: #ba0000;
      mix-blend-mode: multiply;
      transform: rotate(11.2deg);
      top: 98px;
      right: 14px;
    }
  }
  &__desc {
    @include font("Futura Bk BT", normal, 400, 16px, 48px, white);
    max-width: 1064px;
  }
  &:before {
    content: "";
    position: absolute;
    background: url("../images/essence/red-sneaker.png") no-repeat;
    bottom: -215px;
    left: 0;
    width: 496px;
    height: 720px;
    z-index: -1;
  }
}
.swiper-wrapper {
  -webkit-transition-timing-function:linear!important;
  -o-transition-timing-function:linear!important;
  transition-timing-function:linear!important;
}
