.header {
  .container{
    max-width: 1800px;
  }
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 40px 0 0;
  z-index: 5;
  &__nav {
    display: flex;
    justify-content: space-between;
    img{
      cursor: pointer;
    }
  }
  &__left {
    display: flex;
    align-items: center;
    column-gap: 25px;
    width: 25%;
    img{
      cursor: pointer;
    }
  }
  &__link {
    @include font('Futura Bk BT', normal, 400, 16px, 16px, white);
    position: relative;
    text-transform: uppercase;
    color: white;
    &::before {
      content: "";
      position: absolute;
      height: 3px;
      width: 0;
      right: 0;
      background: white;
      bottom: -7px;
      transition: 0.5s;
    }
    &:hover {
      &::before{
        left: 0;
        width: 100%;
      }
    }
  }
  &__right {
    display: flex;
    width: 25%;
    justify-content: flex-end;
    column-gap: 48px;
    img {
      width: 24px;
      cursor: pointer;
    }
  }
}
