@charset "UTF-8";
@font-face {
  font-family: "Futura XBlkCnIt BT";
  src: url("../fonts/FuturaBT-ExtraBlack.eot");
  src: url("../fonts/FuturaBT-ExtraBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaBT-ExtraBlack.woff2") format("woff2"), url("../fonts/FuturaBT-ExtraBlack.woff") format("woff"), url("../fonts/FuturaBT-ExtraBlack.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura Md BT";
  src: url("../fonts/FuturaBT-Bold.eot");
  src: url("../fonts/FuturaBT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaBT-Bold.woff2") format("woff2"), url("../fonts/FuturaBT-Bold.woff") format("woff"), url("../fonts/FuturaBT-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura Md BT";
  src: url("../fonts/FuturaBT-Medium.eot");
  src: url("../fonts/FuturaBT-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaBT-Medium.woff2") format("woff2"), url("../fonts/FuturaBT-Medium.woff") format("woff"), url("../fonts/FuturaBT-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura Bk BT";
  src: url("../fonts/FuturaBT-Book.eot");
  src: url("../fonts/FuturaBT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaBT-Book.woff2") format("woff2"), url("../fonts/FuturaBT-Book.woff") format("woff"), url("../fonts/FuturaBT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura Hv BT";
  src: url("../fonts/FuturaBT-Heavy.eot");
  src: url("../fonts/FuturaBT-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaBT-Heavy.woff2") format("woff2"), url("../fonts/FuturaBT-Heavy.woff") format("woff"), url("../fonts/FuturaBT-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura LtCn BT";
  src: url("../fonts/FuturaBT-LightCondensed.eot");
  src: url("../fonts/FuturaBT-LightCondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaBT-LightCondensed.woff2") format("woff2"), url("../fonts/FuturaBT-LightCondensed.woff") format("woff"), url("../fonts/FuturaBT-LightCondensed.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura XBlkCnIt BT";
  src: url("../fonts/FuturaBT-ExtraBlackCondItalic.eot");
  src: url("../fonts/FuturaBT-ExtraBlackCondItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaBT-ExtraBlackCondItalic.woff2") format("woff2"), url("../fonts/FuturaBT-ExtraBlackCondItalic.woff") format("woff"), url("../fonts/FuturaBT-ExtraBlackCondItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Futura Lt BT";
  src: url("../fonts/FuturaBT-Light.eot");
  src: url("../fonts/FuturaBT-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaBT-Light.woff2") format("woff2"), url("../fonts/FuturaBT-Light.woff") format("woff"), url("../fonts/FuturaBT-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura LT";
  src: url("../fonts/FuturaLT-Bold.eot");
  src: url("../fonts/FuturaLT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaLT-Bold.woff2") format("woff2"), url("../fonts/FuturaLT-Bold.woff") format("woff"), url("../fonts/FuturaLT-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

* {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

body {
  background: #000000;
  color: #ffffff;
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  padding: 25px 40px 25px 20px;
  align-items: center;
  position: relative;
  column-gap: 10px;
  border: 2px solid white;
  border-radius: 36px;
  background: transparent;
  font-family: "Futura Bk BT";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0px;
  color: white;
  color: white;
}
.btn:after {
  content: "";
  position: absolute;
  background: url("../images/global/btn-arrow.svg");
  width: 12px;
  height: 12px;
  right: 19px;
  top: 19px;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 40px 0 0;
  z-index: 5;
}
.header .container {
  max-width: 1800px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__nav img {
  cursor: pointer;
}
.header__left {
  display: flex;
  align-items: center;
  column-gap: 25px;
  width: 25%;
}
.header__left img {
  cursor: pointer;
}
.header__link {
  font-family: "Futura Bk BT";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: white;
  position: relative;
  text-transform: uppercase;
  color: white;
}
.header__link::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  right: 0;
  background: white;
  bottom: -7px;
  transition: 0.5s;
}
.header__link:hover::before {
  left: 0;
  width: 100%;
}
.header__right {
  display: flex;
  width: 25%;
  justify-content: flex-end;
  column-gap: 48px;
}
.header__right img {
  width: 24px;
  cursor: pointer;
}

/*мобильное вёрстка*/
/*desktop вёрстка*/
.home {
  position: relative;
  padding: 305px 0 300px;
  background: black url("../images/home/bg.png") center/cover no-repeat;
}
.home__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url("../images/home/bg-text.png") left bottom/contain no-repeat;
}
.home__content::before {
  content: "";
  position: absolute;
  background: url("../images/home/left-dots.svg") no-repeat;
  left: 0;
  width: 156px;
  height: 491px;
}
.home__content::before circle {
  color: aqua;
  background: green;
}
.home__image {
  position: relative;
}
.home__image::before {
  content: "";
  position: absolute;
  background: url("../images/home/image-line360.svg") no-repeat;
  bottom: -50px;
  left: 55%;
  transform: translateX(-50%);
  width: 560px;
  height: 76px;
  cursor: grab;
}
.home__title {
  font-family: "Futura Md BT";
  font-style: italic;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: white;
  letter-spacing: 0.16em;
}
.home__details {
  display: flex;
  padding-right: 50px;
  margin: 43px 0 35px;
  justify-content: space-between;
  align-items: center;
}
.home__details label {
  display: flex;
  align-items: center;
}
.home__price {
  font-family: "Futura Hv BT";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 0;
  color: white;
  letter-spacing: 0.16em;
}
.home__details-right {
  display: flex;
  align-items: center;
}
.home__shop {
  margin-left: 50px;
  cursor: pointer;
}
.home__size {
  font-family: "Futura Bk BT";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: white;
  margin-right: 20px;
}
.home__size-select {
  font-family: "Futura Hv BT";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: white;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.home__size-select option {
  color: black;
  font-size: 25px;
}
.home__bottom {
  position: relative;
  top: 303px;
  display: flex;
}
.home__row {
  align-items: center;
  display: flex;
  column-gap: 110px;
  max-width: 1500px;
  margin: 0 auto;
}
.home__arrows {
  display: flex;
  column-gap: 44px;
  font-family: "Futura Bk BT";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: white;
}
.home__prev {
  cursor: pointer;
  position: relative;
}
.home__prev:before {
  content: "";
  position: absolute;
  width: 9px;
  height: 15px;
  left: -20px;
  background: url("../images/home/prev.svg");
}
.home__next {
  cursor: pointer;
  position: relative;
}
.home__next:after {
  content: "";
  position: absolute;
  width: 9px;
  height: 15px;
  right: -20px;
  background: url("../images/home/next.svg");
}
.home__row-item {
  cursor: pointer;
  border: white solid 2px;
  padding: 155px 32px 0px;
  position: relative;
  width: 320px;
  height: 195px;
}
.home__row-item img {
  position: absolute;
  bottom: 55px;
}
.home__row-title {
  font-family: "Futura LtCn BT";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 0;
  color: white;
  text-transform: uppercase;
}

.essence {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 80px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 250px 0 115px;
}
.essence__flash {
  z-index: 10;
  color: white;
  padding: 25px;
  overflow: hidden;
  top: 0;
  position: absolute;
  width: calc(100% + 20px);
  display: flex;
  left: -10px;
}
.essence__flash_red {
  background: #ba0000;
  transform: rotate(-1.91deg);
}
.essence__flash_black {
  background: black;
  transform: rotate(2.92deg);
}
.essence__flash-text {
  font-family: "Futura XBlkCnIt BT";
  font-style: italic;
  font-weight: 900;
  font-size: 32px;
  line-height: 1em;
  color: white;
  letter-spacing: 1em;
}
.essence__title {
  position: relative;
  font-family: "Futura Md BT";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 100px;
  color: white;
  max-width: 570px;
}
.essence__title:before {
  content: "";
  position: absolute;
  width: 287px;
  height: 55px;
  background: #ba0000;
  mix-blend-mode: multiply;
  transform: rotate(11.2deg);
  top: 98px;
  right: 14px;
}
.essence__desc {
  font-family: "Futura Bk BT";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 48px;
  color: white;
  max-width: 1064px;
}
.essence:before {
  content: "";
  position: absolute;
  background: url("../images/essence/red-sneaker.png") no-repeat;
  bottom: -215px;
  left: 0;
  width: 496px;
  height: 720px;
  z-index: -1;
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.sellers {
  display: flex;
  text-align: center;
  padding: 115px 0 96px;
}
.sellers__title {
  position: relative;
  font-family: "Futura Md BT";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  color: white;
  margin-bottom: 107px;
}
.sellers__title:after {
  content: "";
  position: absolute;
  width: 275px;
  height: 60px;
  background: #BA0000;
  mix-blend-mode: multiply;
  transform: rotate(11.2deg);
  right: 370px;
  top: -25px;
}
.sellers__row {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
}
.sellers__card {
  position: relative;
}
.sellers__card-text {
  font-family: "Futura Md BT";
  font-style: italic;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: white;
  position: absolute;
  bottom: 10px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  right: 15px;
}

.sports {
  padding: 97px 0 90px;
  text-align: center;
}
.sports__title {
  position: relative;
  text-transform: capitalize;
  margin-bottom: 170px;
}
.sports__title:before {
  content: "";
  position: absolute;
  width: 237px;
  height: 196px;
  z-index: 1;
  right: 700px;
  top: -40px;
  mix-blend-mode: multiply;
  background: url("../images/sports/title-dots.png") center/cover no-repeat;
}
.sports__title span {
  font-family: "Futura XBlkCnIt BT";
  font-style: italic;
  font-weight: 900;
  font-size: 96px;
  line-height: 115px;
  color: white;
  display: inline-block;
  transform: rotate(-10.67deg);
}
.sports__title span:last-child {
  position: relative;
  top: 30px;
  right: 66px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.sports__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 90px;
  justify-items: center;
  margin-bottom: 90px;
}
.sports__card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
}
.sports__card img {
  bottom: 90px;
  position: absolute;
}
.sports__card-name {
  margin-top: 155px;
  font-family: "Futura LtCn BT";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: white;
}
.sports__card:before {
  content: "";
  position: absolute;
  top: 95px;
  z-index: -1;
  background: url("../images/sports/descbg.png");
  width: 400px;
  height: 61px;
}
.sports__card:nth-child(3) {
  grid-column: 2;
}

.modern__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.modern__image-preview {
  width: 70%;
}
.modern__image-preview img {
  width: 150%;
  position: relative;
  left: -300px;
}
.modern__right-title {
  margin-bottom: 40px;
  font-family: "Futura Md BT";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  color: white;
}
.modern__right-desc {
  margin-bottom: 40px;
  font-family: "Futura Bk BT";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: white;
}

.favorite {
  position: relative;
  padding-bottom: 200px;
}
.favorite .container {
  max-width: 1900px;
  padding: 0 0 0 300px;
}
.favorite__title {
  text-transform: uppercase;
  margin-bottom: 50px;
  font-family: "Futura Md BT";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  color: white;
}
.favorite__title span {
  text-transform: uppercase;
  position: relative;
  font-family: "Futura Lt BT";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  color: #ba0000;
}
.favorite__title span:before {
  content: "";
  position: absolute;
  width: 140px;
  height: 32px;
  bottom: -20px;
  background: url("../images/favorite/title-decor.png");
}
.favorite__row {
  display: flex;
  justify-content: flex-end;
}
.favorite__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 400px;
  position: relative;
}
.favorite__card:before {
  content: url("../images/favorite/card-bg.png");
  position: absolute;
  width: 350px;
  height: 350px;
  left: -160px;
  top: -180px;
  z-index: -1;
}
.favorite:before {
  content: "FIX IT";
  color: red;
  font-size: 164px;
  left: 45%;
  top: 50%;
  position: absolute;
  z-index: 2;
}

.footer-middle {
  padding: 72px 0 55px;
  display: flex;
}
.footer-middle__column {
  width: 50%;
}
.footer-middle__column:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-middle__column img {
  width: 247px;
}
.footer-middle__form {
  margin-bottom: 88px;
  width: 400px;
  border: 1px solid #ffffff;
  border-radius: 80px;
  padding: 18px 50px;
}
.footer-middle__form-input > label {
  background: transparent;
}
.footer-middle__form-title {
  font-family: "Futura LT";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 64px;
  color: white;
  text-transform: capitalize;
}

/*# sourceMappingURL=style.css.map */
